@mixin setFlex(
  $flex-direction,
  $gap: 0,
  $align-items: center,
  $justify-content: center
) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
  gap: $gap;
}

@mixin setWidthandHeight($width, $height) {
  width: $width;
  height: $height;
}

@mixin setFont($font-size, $font-weight: 400) {
  font-size: $font-size;
  font-weight: $font-weight;
}
