@use "./variables.scss" as *;
@use "./weather" as *;
@use "./mixins" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include setFont(62.5%);
  font-family: "Open Sans", sans-serif;

  color: $main-font-color;

  background-image: url(../img/image1.jpg);
  background-size: cover;
}
