* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font-color: #f8f9fa;
  --search-font-color: #e0e0e0;
  --search-bacground-color: #a4a8aba1;
}

body {
  font-size: 62.5%;
  color: var(--main-font-color);

  background-image: url(../img/image1.jpg);
  background-size: cover;

  font-family: "Open Sans", sans-serif;
}
.weather-box {
  max-width: 37rem;
  margin: 4rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;

  border-radius: 12px;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.184);
  background-color: #212529dd;
  padding: 3.2rem;
}
.data {
  font-size: 1.2rem;
}
/* 
//////////////////
/// FIRST BOX //// 
//////////////////
*/

.weather-search-box {
  width: 100%;
  height: 2rem;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}
.weather-search-input {
  height: 100%;
  font-size: 1.6rem;
  color: var(--search-font-color);
  border-radius: 14px;
  padding: 1.2rem;
  border: none;
  background-color: #212529dd;
}
.weather-search-input::placeholder {
  color: #343a40;
  font-size: 1.4rem;
}

.icon-search {
  height: 24px;
  width: 24px;
  cursor: pointer;
}
/* 
//////////////////
/// SECOND BOX //// 
//////////////////
*/
.weather-details {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;

  padding: 0 3.2rem;
}

.detail-temp {
  font-size: 3.4rem;
  font-weight: 600;
  letter-spacing: 2px;
}
.weather {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.detail-weather {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 500;
}
.detail-minmax-temp {
  font-size: 0.9rem;
  font-weight: 500;
}

.detail-name {
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: 3px;
}

/* 
//////////////////
/// THIRD BOX //// 
//////////////////
*/

.weather-main-details {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.2rem;
  column-gap: 1.8rem;
  justify-items: center;
}
.weather-main {
  font-size: 1.2rem;
  letter-spacing: 2px;
  width: 12rem;
  height: 7rem;
  padding: 1.2rem 0;

  border-radius: 12px;
  box-shadow: 0 24px 12px rgba(0, 0, 0, 0.232);
  background-color: #646669c2;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease;
}

.weather-main:hover {
  transform: scale(1.2);
}
.main-wind-speed,
.main-visibility,
.main-pressure,
.main-humidity {
  display: flex;
  flex-direction: column;
}

.wind-speed,
.visibility,
.pressure,
.humidity {
  display: block;
  align-self: center;
}

.weather-main-icon {
  width: 24px;
  height: 24px;
}

/* Media Query */
@media (max-width: 90em) {
  .weather-box {
    max-width: 37rem;
  }
}

@media (max-width: 50em) {
  body {
    font-size: 50%;
  }
  .weather-box {
    max-width: 30rem;
  }
  .data {
    font-size: 1rem;
  }
  .weather-search-input {
    font-size: 1.4rem;
  }
  .weather-search-input::placeholder {
    font-size: 1.2rem;
  }
  .detail-temp {
    font-size: 2.4rem;
  }
  .detail-weather {
    font-size: 0.6rem;
  }
  .detail-minmax-temp {
    font-size: 0.8rem;
  }
  .detail-name {
    font-size: 1.4rem;
  }
  .weather-main {
    font-size: 1rem;
    width: 10rem;
  }
}

@media (max-width: 33em) {
  .weather-box {
    max-width: 20rem;
    margin: 8rem auto;
    padding: 1.8rem;
  }
  .icon-search {
    height: 24px;
    width: 24px;
    cursor: pointer;
  }
  .data {
    font-size: 0.8rem;
  }
  .weather-details {
    padding: 0 1.2rem;
  }
  .weather-search-input {
    font-size: 0.8rem;
  }
  .weather-search-input::placeholder {
    font-size: 0.8rem;
  }
  .detail-temp {
    font-size: 2rem;
  }
  .detail-weather {
    font-size: 0.5rem;
  }
  .detail-minmax-temp {
    font-size: 0.7rem;
  }
  .detail-name {
    font-size: 1.2rem;
  }
  .weather-main {
    font-size: 0.7rem;
    width: 100%;
  }
}
